﻿@using Canteen.Models
@using Canteen.Models.DatabaseTemp
@using System.Linq;
@model StatisticModel
@{
    ViewData["Title"] = "Статистика меню";
    Layout = "~/Views/Shared/_CafeLayout.cshtml";
}

<h2>Количество заказов заказов</h2>

<label for="all-menu-by-days" style="margin-left:15px">Количество заказов по дням</label>
<div id="all-menu-by-days" class="container container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="text-align:center">Тип меню</th>
                @for (int numberDay = 0; numberDay < 5; numberDay++)
                {
                    <th style="text-align:center">
                        @{
                            DateTime date = CreatorDate.CreateNext(DateTime.Now);
                        }
                        @string.Format("{0}\n{1}", CreatorDate.GetDay(numberDay), $"{date.Day}.{date.Month}.{date.Year}")
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (int typeMenu in Model.Menu.Keys)
            {
                <tr>
                    <td style="text-align:center">

                        @typeMenu
                    </td>
                    <td style="text-align:center">
                        @Model.CountMenuByDayModels.FirstOrDefault(model => model.Day == "Понедельник" && model.TypeMenu == typeMenu)?.Count
                    </td>
                    <td style="text-align:center">
                        @Model.CountMenuByDayModels.FirstOrDefault(model => model.Day == "Вторник" && model.TypeMenu == typeMenu)?.Count
                    </td>
                    <td style="text-align:center">
                        @Model.CountMenuByDayModels.FirstOrDefault(model => model.Day == "Среда" && model.TypeMenu == typeMenu)?.Count
                    </td>
                    <td style="text-align:center">
                        @Model.CountMenuByDayModels.FirstOrDefault(model => model.Day == "Четверг" && model.TypeMenu == typeMenu)?.Count
                    </td>
                    <td style="text-align:center">
                        @Model.CountMenuByDayModels.FirstOrDefault(model => model.Day == "Пятница" && model.TypeMenu == typeMenu)?.Count
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<label for="all-menu"></label>
<div id="all-menu" class="container container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th width="400px;">Отделение</th>
                @foreach (int typeMenu in Model.Menu.Keys)
                {
                    <th style="text-align:center">Меню @typeMenu</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (Department department in Model.Departments)
            {
                <tr>
                    <td>@department.Title</td>
                    @foreach (int typeMenu in Model.Menu.Keys)
                    {
                        <td style="text-align:center">@department.GetCountBid(typeMenu)</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
