﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@media (min-width: 1200px) {
    .table {
        width:100%;
    }
}

.col-day {
    width:150px;
    text-align:center;
}

.table-container {
    margin-top:15px;
}

.container-ticket {
    width:6cm;
    height: 4.5cm;
    text-align:center;
    padding-top:1cm;
    font-size:16px;
}

.ticket-menu-type {
    font-weight:bold;
}

.table-of-tickets {
    width: 6cm;
    border:5px
}

.table-of-tickets > tbody > tr >  td {
    width:6cm;
}