﻿@model IEnumerable<string>
@{
    ViewData["Title"] = "Список заявок на питание";
}

<h2>Список заявок на питание</h2>
<div class="container container-fluid">
    <div class="dropdown" style="margin-left:15px; width:100%">
        <div class="form-group filter-container">
            <label for="list-departments">Выберите отдел</label>
            <select class="form-control" id="list-departments" name="titleDepartment">
                @foreach (string department in Model)
                {
                    <option>@department</option>
                }
            </select>
        </div>
        <button class="btn btn-primary" onclick="showTable()">Выбать</button>
    </div>
    <div class="table-container">
    </div>
</div>

