﻿@using Canteen.Models.DatabaseTemp
@using Canteen.Models
@model BidsViewModel

<label for="cost" style="margin-left:15px">Стоимость заказа</label>
<div class="container">
    <a id="cost" style="font-weight:bold">0 ₽</a>
</div>
<label for="not-paid-bids" style="margin-left:15px">Неоплаченные заявки</label>
<div id="not-paid-bids"  class="container container-fluid">
    <table class="table table-bordered col-md-10">
        <thead>
            <tr>
                <th scope="col" class="col-day">
                    <a href="#" style="color:black" onclick="selectTicketsForPrint();">Печать</a>
                </th>
                <th scope="col" class="col-day">Имя сотрудника</th>
                <th scope="col" class="col-day">Понедельник</th>
                <th scope="col" class="col-day">Вторник</th>
                <th scope="col" class="col-day">Среда</th>
                <th scope="col" class="col-day">Четверг</th>
                <th scope="col" class="col-day">Пятница</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    if (Model.NotPaidBids != null)
                    {
                        foreach (Bid bid in Model.NotPaidBids)
                        {
                            string rowStyle = @bid.Paid ? " background: darkseagreen" : "";
                            <tr id="table-row">
                                <td scope="col" class="col-day">
                                    <input id="checkbox" class="checkbox checkbox-inline" type="checkbox" onchange="calculateCost();">
                                </td>
                                <td id="employeeName" style="@rowStyle" scope="col" class="col-day">@bid?.EmployeeName</td>
                                <td id="typeMenuMonday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Понедельник") </td>
                                <td id="typeMenuTuesday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Вторник")</td>
                                <td id="typeMenuWednesday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Среда")</td>
                                <td id="typeMenuThursday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Четверг")</td>
                                <td id="typeMenuFriday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Пятница")</td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
</div>


<label for="paid-bids" style="margin-left:15px">Оплаченные заявки</label>
<div id="paid-bids" class="container container-fluid">
    <table class="table table-bordered col-md-10">
        <thead>
            <tr>
                <th scope="col" class="col-day">
                    <a href="#" style="color:black" onclick="selectTicketsForPrint();">Печать</a>
                </th>
                <th scope="col" class="col-day">Имя сотрудника</th>
                <th scope="col" class="col-day">Понедельник</th>
                <th scope="col" class="col-day">Вторник</th>
                <th scope="col" class="col-day">Среда</th>
                <th scope="col" class="col-day">Четверг</th>
                <th scope="col" class="col-day">Пятница</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model != null)
                {
                    foreach (Bid bid in Model.Bids)
                    {
                        string rowStyle = @bid.Paid ? " background: darkseagreen" : "";
                        <tr id="table-row">
                            <td scope="col" class="col-day">
                                <input id="checkbox" class="checkbox checkbox-inline" type="checkbox" onchange="calculateCost();">
                            </td>
                            <td id="employeeName" style="@rowStyle" scope="col" class="col-day">@bid?.EmployeeName</td>
                            <td id="typeMenuMonday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Понедельник") </td>
                            <td id="typeMenuTuesday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Вторник")</td>
                            <td id="typeMenuWednesday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Среда")</td>
                            <td id="typeMenuThursday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Четверг")</td>
                            <td id="typeMenuFriday" style="@rowStyle" scope="col" class="col-day">@bid?.GetTypeMenuOfDayWeek("Пятница")</td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>
