﻿@using Canteen.Models.DatabaseTemp
@model List<Bid>

@{
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}

@for (int numberTable = 0; numberTable < Model.Count(); numberTable += 3)
{
    string styleTable = numberTable == 0 ? "" : "margin-top:5cm";
    <table class="table table-bordered table-of-tickets" style="@styleTable">
        <tbody>
            <tr>
                @for (int numberColumn = numberTable; numberColumn < numberTable + 3; numberColumn++)
                {
                    if (numberColumn == Model.Count())
                    {
                        break;
                    }

                    Ticket ticketOfDay = Model[numberColumn]
                            .Tickets
                            .FirstOrDefault(ticket => ticket.DayOfWeek == "Понедельник");

                    if (ticketOfDay is null) { continue; }

                    int typeMenu = ticketOfDay.TypeMenu;

                    if (typeMenu == 0)
                    {
                        <td></td>
                        continue;
                    }

                    string date = ticketOfDay.Date;

                    TicketModelView ticketModel = new TicketModelView
                    {
                        TypeMenu = typeMenu,
                        EmployeeName = Model[numberColumn].EmployeeName,
                        Date = date
                    };

                    <td>
                        <partial name="TicketView" model="ticketModel" />
                    </td>
                }
            </tr>
            <tr>
                @for (int numberColumn = numberTable; numberColumn < numberTable + 3; numberColumn++)
                {
                    if (numberColumn == Model.Count())
                    {
                        break;
                    }

                    Ticket ticketOfDay = Model[numberColumn]
                            .Tickets
                            .FirstOrDefault(ticket => ticket.DayOfWeek == "Вторник");

                    if (ticketOfDay is null) { continue; }

                    int typeMenu = ticketOfDay.TypeMenu;

                    if (typeMenu == 0)
                    {
                        <td></td>
                        continue;
                    }

                    string date = ticketOfDay.Date;

                    TicketModelView ticketModel = new TicketModelView
                    {
                        TypeMenu = typeMenu,
                        EmployeeName = Model[numberColumn].EmployeeName,
                        Date = date
                    };

                    <td>
                        <partial name="TicketView" model="ticketModel" />
                    </td>
                }
            </tr>
            <tr>
                @for (int numberColumn = numberTable; numberColumn < numberTable + 3; numberColumn++)
                {
                    if (numberColumn == Model.Count())
                    {
                        break;
                    }

                    Ticket ticketOfDay = Model[numberColumn]
                            .Tickets
                            .FirstOrDefault(ticket => ticket.DayOfWeek == "Среда");

                    if (ticketOfDay is null) { continue; }

                    int typeMenu = ticketOfDay.TypeMenu;

                    if (typeMenu == 0)
                    {
                        <td></td>
                        continue;
                    }

                    string date = ticketOfDay.Date;

                    TicketModelView ticketModel = new TicketModelView
                    {
                        TypeMenu = typeMenu,
                        EmployeeName = Model[numberColumn].EmployeeName,
                        Date = date
                    };

                    <td>
                        <partial name="TicketView" model="ticketModel" />
                    </td>
                }
            </tr>
            <tr>
                @for (int numberColumn = numberTable; numberColumn < numberTable + 3; numberColumn++)
                {
                    if (numberColumn == Model.Count())
                    {
                        break;
                    }

                    Ticket ticketOfDay = Model[numberColumn]
                            .Tickets
                            .FirstOrDefault(ticket => ticket.DayOfWeek == "Четверг");

                    if (ticketOfDay is null) { continue; }

                    int typeMenu = ticketOfDay.TypeMenu;

                    if (typeMenu == 0)
                    {
                        <td></td>
                        continue;
                    }

                    string date = ticketOfDay.Date;

                    TicketModelView ticketModel = new TicketModelView
                    {
                        TypeMenu = typeMenu,
                        EmployeeName = Model[numberColumn].EmployeeName,
                        Date = date
                    };

                    <td>
                        <partial name="TicketView" model="ticketModel" />
                    </td>
                }
            </tr>
            <tr>
                @for (int numberColumn = numberTable; numberColumn < numberTable + 3; numberColumn++)
                {
                    if (numberColumn == Model.Count())
                    {
                        break;
                    }

                    Ticket ticketOfDay = Model[numberColumn]
                            .Tickets
                            .FirstOrDefault(ticket => ticket.DayOfWeek == "Пятница");

                    if (ticketOfDay is null) { continue; }

                    int typeMenu = ticketOfDay.TypeMenu;

                    if (typeMenu == 0)
                    {
                        <td></td>
                        continue;
                    }

                    string date = ticketOfDay.Date;

                    TicketModelView ticketModel = new TicketModelView
                    {
                        TypeMenu = typeMenu,
                        EmployeeName = Model[numberColumn].EmployeeName,
                        Date = date
                    };

                    <td>
                        <partial name="TicketView" model="ticketModel" />
                    </td>
                }
            </tr>
        </tbody>
    </table>
}
<script>printTickets();</script>