﻿@using Canteen.Models
@model TicketModelView
@{
    ViewData["Title"] = "TicketView";
}

<div class="container-ticket">
    <div class="ticket-menu-type">
        @string.Format("Талон на питание № {0}", Model.TypeMenu)
    </div>
    <div>
        @string.Format("на {0}", Model.Date)
    </div>
    <div>
        @string.Format("Ф.И.О. {0}", Model.EmployeeName)
    </div>
    <div>Сумма 100р</div>
</div>

